# Python
__pycache__/
*.pyc

# Virtual environment
resume/
env/
.venv/

# Environment variables
.env

# Build files
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

node_modules/
